{% extends "base.html" %} {% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/user_view.css' %}">
<h1 id="header">{{first_name}} {{last_name}}</h1>
<h3>{{ city }}</h3>
<div id="content">
  <div id="summary">
    <div id="rating">
      <div id=rating-icon></div>
      4.7
    </div>
    <div id=rating-text>
      RATING
    </div>
    <div id="reviews">
      <img class="ml-1 honey" src="{% static 'img/handshake.png' %}"  alt="Logo image"/>
      12 REVIEWS
    </div>
  </div>
  <div id="description">
    <h2>Description</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia ante cursus est scelerisque, et vulputate tortor interdum. Nulla facilisi. Vivamus ut nulla nibh. Donec bibendum ut sapien non iaculis. Ut fermentum, metus ut efficitur fringilla, libero lorem mattis justo, non tempus nulla ex vel mi. Quisque feugiat et lectus eu molestie. Vivamus non pharetra est. Praesent sapien nibh, rutrum quis lacinia vitae, sodales vel ipsum. Suspendisse rhoncus porttitor ex id lobortis. Nam rhoncus ante vitae sem molestie, eu ornare justo condimentum. Duis a sodales est. Donec sed malesuada metus. Morbi sagittis orci ante. Cras et luctus metus. Morbi mi arcu, venenatis et finibus ac, fermentum non velit.
      Fusce nec libero turpis. Etiam ligula purus, viverra sed lacus quis, iaculis condimentum risus. Mauris at justo tellus. Curabitur suscipit arcu in eleifend gravida. Suspendisse maximus scelerisque massa in placerat. Vivamus consequat metus ut ante bibendum, non tincidunt arcu finibus. Nunc semper, orci a pharetra tempus, ex dui mattis nunc, eu egestas diam metus non augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget sodales velit, id aliquet erat.
      Integer lacinia nec mi vel suscipit. Duis varius nunc vitae lectus consectetur pulvinar. Duis id dolor et turpis gravida egestas sed vel urna. In at elementum ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sapien nibh, sodales non aliquam ac, aliquam in neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In laoreet volutpat diam. Donec blandit accumsan orci at tincidunt. Mauris sit amet tortor vel felis hendrerit interdum.
      Etiam vel accumsan velit, a ullamcorper leo. In congue magna vel arcu hendrerit, ullamcorper dictum ipsum pharetra. Morbi convallis felis sit amet sapien tempor hendrerit vel in velit. Pellentesque pulvinar tempus sodales. Curabitur lobortis libero nec lacus volutpat, eget facilisis urna vulputate. Aliquam  
    </p>
  </div>
</div>
{% endblock %}
