{% extends "base.html" %} {% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/user_view.css' %}">
<h1 id="header">{{first_name}} {{last_name}}</h1>
<div id="content">
  <div id="summary">
    <div id="rating">
      <div id=rating-icon></div>
      4.7
    </div>
    <div id=rating-text>
      RATING
    </div>
    <div id="reviews">
      <img class="ml-1 honey" src="{% static 'img/handshake.png' %}"  alt="Logo image"/>
      12 REVIEWS
    </div>
  </div>
  <div id="description">
    <h2>Description</h2>
    <p>
      {{ description }}
    </p>
  </div>
</div>
{% endblock %}
